<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
      <string>com.blackb0x.postinstall</string>
    <key>ProgramArguments</key>
      <array>
		<string>/bin/bash</string>
		<string>/etc/setup.sh</string>
      </array>
    <key>StandardErrorPath</key>
      <string>/dev/null</string>
    <key>StandardOutPath</key>
      <string>/dev/null</string>
    <key>RunAtLoad</key>
      <true/>
    <key>UserName</key>
      <string>root</string>
</dict>
</plist>
